@use 'sass:math';
@use 'functions' as *;

@mixin fluid-text($max: 48, $min: 16) {
	font-size: fluid($max, $min)
}

@mixin abs-x {
	position: absolute;
	left: 50%;
	translate: -50%;
}

@mixin abs-y {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
}

@mixin square($size) {
	width: $size;
	height: $size;
}

@mixin visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin underline($color, $maxWidth: 100%, $heigth: rem(0.5)) {
	& {
		position: relative;
	}

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		max-width: $maxWidth;
		height: $heigth;
		background-color: $color;
		bottom: 0;
		left: 0;
	}
}