@use '../helpers' as *;

.like {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: rem(8);
	top: rem(10);
	padding: 0;
	margin: 0;
	z-index: 1;
	border: none;
	background-color: transparent;
	@include square(rem(30));

	@include hover {
		svg path {
			color: var(--color-like);
			stroke: var(--color-like);
		}
	}

	svg path {
		stroke: var(--color-light);
		stroke-width: 1px;
		color: transparent;
		transition: var(--transition-duration);
	}
}